<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

<iframe src="http://embed.bambuser.com/channel/nunoveloso" width="460" height="403" frameborder="0">Your browser does not support iframes.</iframe>

  </body>

  <script type="text/javascript" ></script>
</html>
